<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.eoban.setaudio</string>
    <key>ProgramArguments</key>
    <array>
    	<string>/Applications/Audiodevice/audiodevice</string>
    	<string>output</string>
    	<string>Elgato\ Dock</string>
    </array>
    <key>LaunchEvents</key>
    <dict>
            <key>com.apple.iokit.matching</key>
            <dict>
                    <key>com.apple.device-attach</key>
                    <dict>
                            <key>idProduct</key>
                            <integer>0x2912</integer>
                            <key>idVendor</key>
                            <integer>0x08bb  (Texas Instruments Japan)</integer>
                            <key>IOProviderClass</key>
                            <string>AppleUSBDevice</string>
                            <key>IOMatchLaunchStream</key>
                            <true/>
                    </dict>
            </dict>
    </dict>
</dict>
</plist>